<ion-content class='ion-padding' mode='ios'>
  <ion-grid style=' letter-spacing: 1px;'>
    <ion-row>
      <ion-col>Team: {{team}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Pick: {{pickRound}}.{{pickNum}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='display: flex; justify-content: center; align-items: center; text-align: center'>
        Draft {{player.name}}?
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color='success' (click)='lService.draftPlayer(player, callback)'>
          Draft
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color='danger' (click)='closePopover()'>
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  

</ion-content>
