// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}
.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-gold {
  --ion-color-base: var(--ion-color-gold);
  --ion-color-base-rgb: var(--ion-color-gold-rgb);
  --ion-color-contrast: var(--ion-color-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-gold-shade);
  --ion-color-tint: var(--ion-color-gold-tint);
}

.ion-color-silver {
  --ion-color-base: var(--ion-color-silver);
  --ion-color-base-rgb: var(--ion-color-silver-rgb);
  --ion-color-contrast: var(--ion-color-silver-contrast);
  --ion-color-contrast-rgb: var(--ion-color-silver-contrast-rgb);
  --ion-color-shade: var(--ion-color-silver-shade);
  --ion-color-tint: var(--ion-color-silver-tint);
}

.ion-color-bronze {
  --ion-color-base: var(--ion-color-bronze);
  --ion-color-base-rgb: var(--ion-color-bronze-rgb);
  --ion-color-contrast: var(--ion-color-bronze-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bronze-contrast-rgb);
  --ion-color-shade: var(--ion-color-bronze-shade);
  --ion-color-tint: var(--ion-color-bronze-tint);
}

.ion-color-steel {
  --ion-color-base: var(--ion-color-steel);
  --ion-color-base-rgb: var(--ion-color-steel-rgb);
  --ion-color-contrast: var(--ion-color-steel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-steel-contrast-rgb);
  --ion-color-shade: var(--ion-color-steel-shade);
  --ion-color-tint: var(--ion-color-steel-tint);
}

.ion-color-qb {
  --ion-color-base: var(--ion-color-qb);
  --ion-color-base-rgb: var(--ion-color-qb-rgb);
  --ion-color-contrast: var(--ion-color-qb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-qb-contrast-rgb);
  --ion-color-shade: var(--ion-color-qb-shade);
  --ion-color-tint: var(--ion-color-qb-tint);
}

.ion-color-rb {
  --ion-color-base: var(--ion-color-rb);
  --ion-color-base-rgb: var(--ion-color-rb-rgb);
  --ion-color-contrast: var(--ion-color-rb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rb-contrast-rgb);
  --ion-color-shade: var(--ion-color-rb-shade);
  --ion-color-tint: var(--ion-color-rb-tint);
}

.ion-color-wr {
  --ion-color-base: var(--ion-color-wr);
  --ion-color-base-rgb: var(--ion-color-wr-rgb);
  --ion-color-contrast: var(--ion-color-wr-contrast);
  --ion-color-contrast-rgb: var(--ion-color-wr-contrast-rgb);
  --ion-color-shade: var(--ion-color-wr-shade);
  --ion-color-tint: var(--ion-color-wr-tint);
}

.ion-color-te {
  --ion-color-base: var(--ion-color-te);
  --ion-color-base-rgb: var(--ion-color-te-rgb);
  --ion-color-contrast: var(--ion-color-te-contrast);
  --ion-color-contrast-rgb: var(--ion-color-te-contrast-rgb);
  --ion-color-shade: var(--ion-color-te-shade);
  --ion-color-tint: var(--ion-color-te-tint);
}

.ion-color-def {
  --ion-color-base: var(--ion-color-def);
  --ion-color-base-rgb: var(--ion-color-def-rgb);
  --ion-color-contrast: var(--ion-color-def-contrast);
  --ion-color-contrast-rgb: var(--ion-color-def-contrast-rgb);
  --ion-color-shade: var(--ion-color-def-shade);
  --ion-color-tint: var(--ion-color-def-tint);
}

.ion-color-k {
  --ion-color-base: var(--ion-color-k);
  --ion-color-base-rgb: var(--ion-color-k-rgb);
  --ion-color-contrast: var(--ion-color-k-contrast);
  --ion-color-contrast-rgb: var(--ion-color-k-contrast-rgb);
  --ion-color-shade: var(--ion-color-k-shade);
  --ion-color-tint: var(--ion-color-k-tint);
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #e668ac;
  --ion-color-secondary-rgb: 230, 104, 172;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #ca5c97;
  --ion-color-secondary-tint: #e977b4;

  --ion-color-tertiary: #2972c3;
  --ion-color-tertiary-rgb: 41, 114, 195;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #2464ac;
  --ion-color-tertiary-tint: #3e80c9;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** colors for card tiers **/
  --ion-color-pink: #fdc5e7;
  --ion-color-pink-rgb: 253, 197, 231;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0, 0, 0;
  --ion-color-pink-shade: #dfadcb;
  --ion-color-pink-tint: #fdcbe9;

  --ion-color-blue: #bdf4fc;
  --ion-color-blue-rgb: 189, 244, 252;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blue-shade: #a6d7de;
  --ion-color-blue-tint: #c4f5fc;

  --ion-color-gold: #f4e075;
  --ion-color-gold-rgb: 244, 224, 117;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #d7c567;
  --ion-color-gold-tint: #f5e383;

  --ion-color-silver: #d6d6d6;
  --ion-color-silver-rgb: 214, 214, 214;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0, 0, 0;
  --ion-color-silver-shade: #bcbcbc;
  --ion-color-silver-tint: #dadada;

  --ion-color-bronze: #e5b66b;
  --ion-color-bronze-rgb: 229, 182, 107;
  --ion-color-bronze-contrast: #000000;
  --ion-color-bronze-contrast-rgb: 0, 0, 0;
  --ion-color-bronze-shade: #caa05e;
  --ion-color-bronze-tint: #e8bd7a;

  --ion-color-steel: #7b7b7b;
  --ion-color-steel-rgb: 123, 123, 123;
  --ion-color-steel-contrast: #ffffff;
  --ion-color-steel-contrast-rgb: 255, 255, 255;
  --ion-color-steel-shade: #6c6c6c;
  --ion-color-steel-tint: #888888;

  // colors for positions

  --ion-color-qb: #ff4141;
  --ion-color-qb-rgb: 255, 65, 65;
  --ion-color-qb-contrast: #ffffff;
  --ion-color-qb-contrast-rgb: 255, 255, 255;
  --ion-color-qb-shade: #e03939;
  --ion-color-qb-tint: #ff5454;

  --ion-color-rb: #13d146;
  --ion-color-rb-rgb: 19, 209, 70;
  --ion-color-rb-contrast: #000000;
  --ion-color-rb-contrast-rgb: 0, 0, 0;
  --ion-color-rb-shade: #11b83e;
  --ion-color-rb-tint: #2bd659;

  --ion-color-wr: #087aff;
  --ion-color-wr-rgb: 8, 122, 255;
  --ion-color-wr-contrast: #ffffff;
  --ion-color-wr-contrast-rgb: 255, 255, 255;
  --ion-color-wr-shade: #076be0;
  --ion-color-wr-tint: #2187ff;

  --ion-color-te: #ffb100;
  --ion-color-te-rgb: 255, 177, 0;
  --ion-color-te-contrast: #000000;
  --ion-color-te-contrast-rgb: 0, 0, 0;
  --ion-color-te-shade: #e09c00;
  --ion-color-te-tint: #ffb91a;

  --ion-color-def: #8030dd;
  --ion-color-def-rgb: 128, 48, 221;
  --ion-color-def-contrast: #ffffff;
  --ion-color-def-contrast-rgb: 255, 255, 255;
  --ion-color-def-shade: #712ac2;
  --ion-color-def-tint: #8d45e0;

  --ion-color-k: #e8e8e8;
  --ion-color-k-rgb: 232, 232, 232;
  --ion-color-k-contrast: #000000;
  --ion-color-k-contrast-rgb: 0, 0, 0;
  --ion-color-k-shade: #cccccc;
  --ion-color-k-tint: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #151920;
    --ion-background-color-rgb: 21, 25, 32;

    --ion-text-color: #fcfefe;
    --ion-text-color-rgb: 252, 254, 254;

    --ion-color-step-50: #21242b;
    --ion-color-step-100: #2c3036;
    --ion-color-step-150: #383b41;
    --ion-color-step-200: #43474c;
    --ion-color-step-250: #4f5258;
    --ion-color-step-300: #5a5e63;
    --ion-color-step-350: #66696e;
    --ion-color-step-400: #717579;
    --ion-color-step-450: #7d8084;
    --ion-color-step-500: #898c8f;
    --ion-color-step-550: #94979a;
    --ion-color-step-600: #a0a2a5;
    --ion-color-step-650: #abaeb0;
    --ion-color-step-700: #b7b9bb;
    --ion-color-step-750: #c2c5c7;
    --ion-color-step-800: #ced0d2;
    --ion-color-step-850: #d9dcdd;
    --ion-color-step-900: #e5e7e8;
    --ion-color-step-950: #f0f3f3;

    --ion-toolbar-background: #151920;

    --ion-item-background: #21242b;

    --ion-card-background: #21242b;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #151920;
    --ion-background-color-rgb: 21, 25, 32;

    --ion-text-color: #fcfefe;
    --ion-text-color-rgb: 252, 254, 254;

    --ion-color-step-50: #21242b;
    --ion-color-step-100: #2c3036;
    --ion-color-step-150: #383b41;
    --ion-color-step-200: #43474c;
    --ion-color-step-250: #4f5258;
    --ion-color-step-300: #5a5e63;
    --ion-color-step-350: #66696e;
    --ion-color-step-400: #717579;
    --ion-color-step-450: #7d8084;
    --ion-color-step-500: #898c8f;
    --ion-color-step-550: #94979a;
    --ion-color-step-600: #a0a2a5;
    --ion-color-step-650: #abaeb0;
    --ion-color-step-700: #b7b9bb;
    --ion-color-step-750: #c2c5c7;
    --ion-color-step-800: #ced0d2;
    --ion-color-step-850: #d9dcdd;
    --ion-color-step-900: #e5e7e8;
    --ion-color-step-950: #f0f3f3;

    --ion-item-background: #23242c;

    --ion-toolbar-background: #23242c;

    --ion-tab-bar-background: #23242c;

    --ion-card-background: #23242c;
  }
}
