<ion-header [translucent]="false" class='ion-no-border'>
  <!-- <ion-title>WaxDraft 21</ion-title> -->
  <ion-toolbar>
    <ion-searchbar placeholder=''></ion-searchbar>
    <ion-chip slot='end'>
      <ion-icon color='dark' name='filter' style='margin: 0;'></ion-icon>
    </ion-chip>
    <ion-chip *ngIf='!auth.user' slot='end' (click)='presentPopover()'>
      Sign In
    </ion-chip>
    <ion-chip *ngIf='auth.user' slot='end' (click)='presentPopover()'>
      User
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!---
    
  <ion-slides class='intro-slides' [options]='welcomeSlideOpts' *ngIf='!newUser'>
    <ion-slide>
      <img src="assets/images/introSlides/slide1.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/introSlides/slide2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/introSlides/slide3.jpg" alt="">
    </ion-slide>
    <ion-slide class='last-slide'>
      <ion-button (click)='dismissIntro()'>Get Started</ion-button>
    </ion-slide>
  </ion-slides>

  -->

  <ion-title slot='start'>Players</ion-title>

  <ion-slides [options]='slideOpts' class='ion-padding player-slides' mode='ios'>

    <!-- START POSITION SLIDES LOOP -->
    <ion-slide *ngFor='let position of positions'>
      <h2>{{position}}</h2> 

      <!-- START PLAYERS LOOP -->
        <div *ngFor='let player of players'>

        <!-- START PLAYER CARD -->
        <ion-card 
          [id]='player.playerID'
          *ngIf='player.position == position && player.drafted == false' 
          (click)="flipCard(player.playerID)" 
          [color]='player.tier' 
          [style.borderColor]="pService.getBorderColor(player.position)"
        >
          <ion-card-header class='ion-no-padding'>
            <ion-avatar>
              <img src="/assets/images/players/{{player.image}}.png" alt="">
            </ion-avatar>
            <ion-card-subtitle class='ion-text-left'>{{player.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class='ion-no-padding'>
            <div class='player-info'>
              <b>{{player.position}} - {{player.team}}</b>
              <ion-badge color='light'>Bye: {{player.bye}}</ion-badge>
            </div>
            <div class="player-stats">
              <div class="stats-left">
                <p><b>2020:</b> {{player.ppg20}} pts.</p>
                <p><b>2021:</b> {{player.ppg21}} pts.</p>
              </div>
              <div class="stats-right">
                <div style='font-size: 80%;'>ADP</div>
                <ion-badge 
                [color]='player.adp < 13 ? "success" : "danger"'>
                {{player.adp}}</ion-badge>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        <!-- END PLAYER CARD -->
        
      </div>
      <!-- END PLAYERS LOOP -->
  
      <!-- SPACER CARD AT BOTTOM OF SLIDE -->
      <ion-card style='border: none; opacity: 0;'>
        <ion-card-header>
          card
        </ion-card-header>
        <ion-card-content>
          content
        </ion-card-content>
      </ion-card>
      <!-- END OF SPACER CARD -->

    </ion-slide> 
    <!-- END POSITION SLIDES LOOP -->

  </ion-slides>
  <!-- <app-explore-container name="Players page"></app-explore-container> -->
</ion-content>