ion-header {
  ion-toolbar {
    --background: var(--ion-color-six);
    opacity: 0.975;
    position: absolute;
    top: 0px;
    height: 80px;
    padding-top: 33px;
  }
}

.toast-button-group {
  height: 100%;
  .toast-button {
    height: 100%;
  }
}

.intro-slides {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: auto;
  width: 100%;

  .last-slide {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151920;
  }
}

.player-slides {
  padding-top: 90px;
  height: 100%;
  overflow-y: scroll;
  z-index: 99;

  .swiper-zoom-container {
    ion-card {
      // transform: scale(0.975) !important;
    }
  }

  .swiper-slide-active,
  .swiper-slide-next {
    ion-card {
      // transform: scale(1.02) !important;
    }
  }

  ion-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    div {
      margin: 0px;
      padding: 0;
    }

    h2 {
      margin: 0;
      font-size: 90%;
    }

    ion-card {
      width: 140px;
      height: 116px;
      margin: 0;
      margin-top: 9px;
      border-radius: 12px;
      opacity: 1;
      padding: 2px 4px 4px;
      // border: 4px solid #000;

      &:hover {
        // opacity: 0.8;
      }

      ion-card-content {
        * {
          padding: 0;
          font-size: 10px;
        }

        ion-grid {
          height: 108px;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .player-info-row {
          height: 36px;
          position: relative;

          .bg-div {
            height: 36px;
            width: 100%;
            // padding: 2px 0 0;
            border-radius: 8px;
            opacity: 0.65;
            position: absolute;
            left: 0;
            top: 0;
          }

          ion-img {
            // height: 26px;
            // width: auto;
            width: 50px;
            height: 36px;
            position: absolute;
            top: 0;
            left: 5px;
          }

          .player-info-wrapper {
            width: calc(100% - 55px);
            position: absolute;
            top: 0;
            right: 0;
            color: #e8e8e8;
            line-height: 13px;
            display: flex;
            flex-wrap: wrap;

            .player-info {
              // background-color: orange;
              line-height: 13px;
              width: 38.5px;
              display: flex;
              justify-content: center;
              align-items: center;
              letter-spacing: 0.5px;
              // padding-top: 0.5px;
              // margin-bottom: 0.5px;
            }
            .player-name {
              letter-spacing: 0.5px;
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              height: 23px;
              line-height: 11px;
            }
          }
        }
        .player-adp-bye {
          height: 14px;
          line-height: 14px;
          padding-top: 0.5px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 1px;
        }
        .player-tier-row {
          height: 14px;
          border-radius: 6px;
          font-weight: 700;
          letter-spacing: 3px;
          border: 0.5px solid rgba(200, 200, 205, 0.25);

          .player-tier-col {
            height: 13px;
            line-height: 13px;
          }
        }
        .stats-row {
          height: 14px;
          line-height: 12px;
          letter-spacing: 1px;

          ion-col {
            padding-left: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }

      /********** OLD CARD STYLES **********/
      /* ion-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 10px;

        ion-avatar {
          display: flex;
          align-items: center;

          height: 100%;

          img {
            height: 40px;
            width: auto;
            min-width: 32px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.65);
          }
        }
        ion-card-subtitle {
          margin: 0 auto 0 5px;
        }
      }
      ion-card-content {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .player-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 80%;

          ion-badge {
            opacity: 0.5;
            font-size: 80%;
          }

          ion-icon {
            margin-left: 10px;
            height: 15px;
          }
        }

        .player-stats {
          width: 100%;
          margin-top: 2px;
          display: flex;
          justify-content: space-between;

          .stats-left {
            width: 70%;
            text-align: left;
            p {
              font-size: 60%;
            }
          }
          .stats-right {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 80%;

            ion-badge {
              text-align: center;
              font-size: 80%;
              opacity: 0.9;
            }
          }
        }

        .card-click {
          font-size: 70%;
          width: 100%;
          text-align: center;
        }
      }
      */
    }
  }
}
