<ion-header [translucent]="false" class='ion-no-border'>
  <ion-toolbar mode="ios">
    <ion-row style='height: 45px'>
      <ion-col class='app-name' style='height: 45px;' size='8'>
        WaxDraft&nbsp;<span style="color: #e668ac">21</span>
      </ion-col>
      <ion-col style='height: 45px;' size='4' class='right-side'>
        <ion-button color='secondary' *ngIf='!auth.user' (click)='auth.login()'>
          Sign In
        </ion-button>
        <ion-button color='secondary' *ngIf='auth.user' (click)='auth.logout()'>
          Sign Out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  

<ion-slides [options]='slideOpts' class='ion-padding-horizontal draft-picks-slides' mode='ios'>

  <ion-slide *ngFor='let team of lService.teams; index as idx;' class='ion-no-padding' [ngClass]="idx >= lService.league.numTeams ? 'hidden' : 'none' ">
    <h6 class='team-name'>{{team.manager}}</h6>

    <div class='draft-picks-div' *ngFor='let pick of team.picks; index as pickIdx;'>
      <ion-card [class.active]='checkActive(pickIdx, idx)'>
        
        <!-- card content -->
        <ion-card-content class='draft-pick-content'>
          <ion-grid>
            <!-- player info (top row) -->
            <ion-row class='dp-top-row'>
              <ion-col size="4" class='pick-num'>
                {{pickIdx+1}}.{{calcPickNumber(team.pick, pickIdx)}}
              </ion-col>
              <!-- 2 spacer columns -->
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col size='8' class='dp-team-col ion-text-nowrap'  *ngIf="pick.team.teamID != team.teamID && pick.team.teamID != 'no-team'">
                ‣‣&nbsp;&nbsp;{{ pick.team.manager }}
              </ion-col>
              <!-- <ion-col>{{ pick.player.position }}</ion-col>
              <ion-col>{{ pick.player.team }}</ion-col> -->
            </ion-row>
            <!-- player name (row two) -->
            <!-- <ion-row class='player-name'  [ngStyle]="{'height': (pick.team==team.teamID) ? '41px' : '26px'}"> -->
            <ion-row class='player-name' [ngStyle]="{'height': (pick.team==team.teamID) ? '36px' : '36px'}">
              <ion-col size='12'>
                {{ pick.player.name }}
              </ion-col>
            </ion-row>
            <!-- player image -->
            <ion-row class='player-img-div'>
              <ion-col size='12'>
                <div class="bg-div" [style.backgroundColor]="pService.getPositionColor(pick.player.position)"></div>
                
                <div *ngIf='checkActive(pickIdx, idx)' class="bg-div" [style.backgroundColor]="pService.getPositionColor('active')"></div>
                
                <ion-text color='light' *ngIf='checkActive(pickIdx, idx)'>On the clock</ion-text>
                
                <ion-img *ngIf='pick.player.playerID && pick.player != "active"' src="/assets/images/players/{{pick.player.playerID}}.png">
                </ion-img>

                <div class="player-info-wrapper" *ngIf='pick.player && pick.player != "active"'>
                  <div class="player-info">{{pick.player.position}}</div>
                  <div class="player-info">{{pick.player.team}}</div>
                </div>
              </ion-col>
            </ion-row>
            <!-- team who owns pick (bottom row) -->
            <!-- <ion-row class='dp-team-row'  *ngIf="pick.team != team.teamID">
              <ion-col size='12'>
                {{ pick.team }}
              </ion-col>
            </ion-row> -->
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- SPACER CARD AT BOTTOM OF SLIDE -->
    <div class='draft-picks-div'>
    <ion-card style='border: 2px solid #e8e8e8; opacity: 0;'>
      <ion-card-header>
        card
      </ion-card-header>
      <ion-card-content>
        content
      </ion-card-content>
    </ion-card>
    </div>
    <!-- END OF SPACER CARD -->

  </ion-slide>


  <!-- Start of slide to display round # 
  <ion-slide class='ion-no-padding'>
    <h6 class='team-name'>Round</h6>
    <div *ngxRange='let round from 0 to draftSettings.numRounds by 1'>
      <div class='round-num'>
        Round {{round + 1}}
      </div>
    </div>
  </ion-slide>
  End of slide to display round # -->



</ion-slides>

<!-- fab placed to the bottom end
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 75px;">
  <ion-fab-button (click)="tService.resetDraft()">
    <ion-text>Reset<br>Draft</ion-text>
  </ion-fab-button>
</ion-fab> -->

</ion-content>