.round-num {
  width: 78px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
  margin: 5px;
}

.draft-picks-slides {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  z-index: 99;
  padding-top: 50px;
  padding-left: 33px;
  padding-right: 33px;

  ion-slide {
    min-height: 100%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 130px;

    .team-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 80%;
      width: 93%;
      min-height: 30px;
      text-overflow: ellipsis;
      // background-color: green;
      margin: 5px auto 3px;
    }

    .draft-picks-div {
      height: 90%;
    }

    .active {
      border: 2px solid #e8e8e8;
    }

    ion-card {
      width: 80px;
      height: 80px;
      margin: 5px 0;
      border-radius: 12px;
      border: 2px solid #262a34;
      box-sizing: content-box;
      font-size: 10px;

      /*ion-card-header {
        height: 50px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 10px;

        ion-grid {
          padding: 0;
          height: 100%;
          width: 100%;
          letter-spacing: 0.2px;

          ion-row {
            padding: 0;
            text-overflow: ellipsis;

            ion-col {
              height: 100%;
              padding: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .player-name {
                height: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              ion-row {
                height: 33%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }*/

      .draft-pick-content {
        height: 100%;
        padding: 0;
        font-size: 10px;

        ion-grid {
          height: 100%;
          padding: 0;

          .dp-top-row {
            height: 13px;
            padding-top: 1px;
            overflow: hidden !important;

            .pick-num {
              border-radius: 0 0 4px 0;
              margin-left: 0;
              font-size: 9.5px;
              // background-color: #e8e8e8;
              // color: #21242b !important;
              padding: 0.5px 0 0 0.5px;
              font-weight: 700 !important;
            }

            ion-col {
              height: 13px;
            }
          }

          .player-name {
            padding: 0 3px;
            height: 26px;
            line-height: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .player-img-div {
            height: 26px;
            position: relative;
            padding: 0 4px;

            .player-info-wrapper {
              width: calc(50% - 5px);
              position: absolute;
              top: 0;
              right: 0;
              color: #e8e8e8;
              line-height: 13px;

              .player-info {
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.5px;
              }
            }

            .bg-div {
              height: 26px;
              width: 100%;
              padding: 2px 0 0;
              border-radius: 8px;
              opacity: 0.65;
              position: absolute;
              left: 0;
              top: 0;
            }

            ion-img {
              // height: 26px;
              // width: auto;
              width: 36px;
              height: 26px;
              position: absolute;
              top: 0;
              left: 5px;
            }

            ion-text {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 11px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .dp-team-col {
            height: 13px;
            line-height: 13px;
            width: 53.33px;
            font-size: 10px;
            // font-style: italic;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            padding: 0;
            padding-top: 3px;

            ::shadow {
              color: #e8e8e8;
              overflow: hidden !important;
              white-space: nowrap !important;
              text-overflow: ellipsis !important;
            }
          }

          ion-row {
            ion-col {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
