<ion-header [translucent]="false" class='ion-no-border'>
  <ion-toolbar mode="ios">
    <ion-row style='height: 44px'>
      <ion-col class='league-name ion-text-wrap' style='height: 44px;' size='8'>
        {{ (lService.league | async).name}}
        <ion-icon name='arrow-down'></ion-icon>
      </ion-col>
      <ion-col style='height: 44px;' size='4'>
        <ion-chip *ngIf='!auth.user'  (click)='auth.login()'>
          Sign In
        </ion-chip>
        <ion-chip *ngIf='auth.user' (click)='auth.logout()'>
          Sign Out
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class='roster-view-row'>
      <!-- LEFT SIDE | ONE slide for 'my team' -->
      <ion-col class='ion-no-padding' size='5'>
        <ion-slides class='my-team-slides' [options]='myTeamSlideOpts'>
          <ion-slide>

            <div class="team-header">
              <h4 class='team-name'>My Team</h4>
            </div>
            

            <!-- start ngFor loop for team positions -->
            <!-- <div *ngFor='let position of myTeam.roster | keyvalue'>
              roster position | {{position.key}}
            </div> -->
            <!-- end ngFor loop for team positions -->

            
              <ion-card 
                *ngFor='let player of myTeam.roster["QB"]'
              >
                
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size='12'>
                        {{player.name}}
                      </ion-col>
                    </ion-row>
                    
                      <ion-row class='player-img-div'>
                        <ion-col size='12'>
                          <div class="bg-div" [style.backgroundColor]="pService.getBorderColor(player.position)"></div>
                      
                          <ion-img *ngIf='player.playerID' src="/assets/images/players/{{player.playerID}}.png">
                          </ion-img>
                      
                          <div class="player-info-wrapper" *ngIf='player'>
                            <div class="player-info">{{player.position}}</div>
                            <div class="player-info">{{player.team}}</div>
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- start of player tier  -->
                      <ion-row class='player-tier-row' [style.backgroundColor]='pService.getTierColor(player.tier)'
                        [ngStyle]="{'color': (player.tier >= 4) ? '#e8e8e8' : '#080808'}">
                        <ion-col class='player-tier-col' size='12'>
                          <ion-text>TIER {{player.tier}}</ion-text>
                        </ion-col>
                      
                      </ion-row>
                    
                  </ion-grid>
                  
                </ion-card-content>
              </ion-card>
            
            
            <ion-card style='opacity: 0.2;'>
              <ion-card-header>
                spacer
              </ion-card-header>
              <ion-card-content>
                card
              </ion-card-content>
            </ion-card>

          </ion-slide>
        </ion-slides>
      </ion-col>
      <!-- END LEFT SIDE -->

      <!-- MIDDLE SECTION | displays position label -->
      <ion-col size='2' class='position-labels'>
        
        <ion-badge color='qb' *ngFor='let i of [].constructor(lService.leagueSettings.positions["QB"])'>
          QB
        </ion-badge>
        
        <ion-badge color='rb'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["RB"])'>
          RB
        </ion-badge>
       
        <ion-badge color='wr'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["WR"])'>
          WR
        </ion-badge>
        
        <ion-badge color='te'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["TE"])'>
          TE
        </ion-badge>

        <ion-badge color='secondary' class='ion-text-wrap'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["QRWT"])'>
          Q R W T
        </ion-badge>

        <ion-badge color='secondary'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["RWT"])'>
          R W <br>T
        </ion-badge>

        <ion-badge color='def'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["DEF"])'>
          DEF
        </ion-badge>

        <ion-badge color='k'  *ngFor='let i of [].constructor(lService.leagueSettings.positions["K"])'>
          K
        </ion-badge>

        <ion-badge color='tertiary' *ngFor='let i of [].constructor(lService.leagueSettings.positions["B"])'>
          B
        </ion-badge>
      </ion-col>
      <!-- END MIDDLE SECTION -->

      <!-- RIGHT SIDE | slides for other teams in the league -->
      <ion-col class='ion-no-padding' size='5'>
        <ion-slides [options]='slideOpts' class='league-teams-slides' mode='ios'>




          <ion-slide>
            <div class="team-header">
              <h4 class='team-name'>Other Team 1</h4>
            </div>
            
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <div class="team-header">
              <h4 class='team-name'>Other Team 2222</h4>
            </div>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <div class="team-header">
              <h4 class='team-name'>YoungHamstringInjury</h4>
            </div>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                header
              </ion-card-header>
              <ion-card-content>
                content
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <!-- END RIGHT SIDE -->
    </ion-row>
  </ion-grid>

  
  

</ion-content>