/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-card {
  --background: var(--ion-color-six);
}

.popover-styles .popover-content {
  --background: var(--ion-color-six);
  border-radius: 12px !important;
  width: 300px;
}

/* hide the vertical scrollbar in ionic lab view */
*::-webkit-scrollbar,
::-webkit-scrollbar,
ion-scroll.scroll-y,
.inner-scroll,
.scroll-y,
#background-content::-webkit-scrollbar,
main {
  display: none;
  margin-right: 0;
}

*,
ion-scroll.scroll-y,
.inner-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alert-class {
  button.alert-button.reset-button {
    color: var(--ion-color-danger) !important;
  }
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-six);
    opacity: 0.985;
    position: absolute;
    top: 0px;
    height: 45px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    // padding-top: 20px;
    padding: 0;
    display: flex;
    align-content: center;

    ion-row {
      display: flex;
      align-items: center;
      padding: 0 10px;

      ion-col {
        display: flex;
        align-items: center;
        padding: 0;
        // justify-content: center;
      }

      .right-side {
        font-size: 10px;
        justify-content: flex-end;

        ion-button {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }

      .app-name {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        display: flex;
        justify-content: flex-start;
        // padding-left: 16px;
      }
    }
  }
}
