ion-content {
  .main-list {
    margin-top: 50px;

    .main-item {
      --background: #151919;
      border-bottom: 1px solid var(--ion-color-six);
    }

    .sub-list {
      .hidden {
        display: none;
        height: 0;
        width: 0;

        * {
          display: none;
          height: 0;
          width: 0;
        }
      }

      .sub-item,
      .reorder-item {
        --background: #090a0a;
        border-bottom: 1px solid var(--ion-color-six);
      }
    }
  }

  .button-wrapper {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
  }
}
