<ion-header [translucent]="false" class='ion-no-border'>
  <ion-toolbar mode="ios">
    <ion-row style='height: 45px'>
      <ion-col class='app-name' style='height: 45px;' size='8'>
        WaxDraft&nbsp;<span style="color: #e668ac">21</span>
      </ion-col>
      <ion-col style='height: 45px;' size='4' class='right-side'>
        <ion-button color='secondary' *ngIf='!auth.user' (click)='auth.login()'>
          Sign In
        </ion-button>
        <ion-button color='secondary' *ngIf='auth.user' (click)='auth.logout()'>
          Sign Out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <!-- START of main settings list -->
  <ion-list *ngIf="lService.league" class='main-list' lines='none' mode="ios">

    <!-- START of main list item 1 -->
    <ion-item class='main-item'
    (click)="(leagueSettings == true) ? leagueSettings = false : leagueSettings = true">
      Draft Settings
      <ion-icon name="chevron-down-outline" slot='end' *ngIf="!leagueSettings"></ion-icon>
      <ion-icon name="chevron-up-outline" slot='end' *ngIf="leagueSettings"></ion-icon>
    </ion-item>
      <ion-list class='sub-list'  *ngIf="leagueSettings">
        
        <ion-item class='sub-item'>
          <ion-row style="width: 100%; padding-left: 15px;">
            <ion-col size='9' size="9" style='display: flex; align-items: center;'>
              <ion-label>
                Number of Teams:
              </ion-label>
            </ion-col>
            <ion-col size='3' style='text-align:center'>
              <ion-input required type='number' inputmode="numeric" max="16" min="4" name="numTeams" value="{{lService.league.numTeams}}" placeholder="{{lService.league.numTeams}}" (ionChange)="updateSettings($event)">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-item>

        <!-- <ion-item class='sub-item'>
          <ion-row>
            <ion-col size='9' size="9" style='display: flex; align-items: center;'>
              <ion-label>
                Number of :
              </ion-label>
            </ion-col>
            <ion-col size='3' style='text-align:center'>
              <ion-input type='number' value="{{lService.league.numTeams}}" placeholder="{{lService.league.numTeams}}">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-item> -->
      </ion-list>
    <!-- END of main list item 1 -->

    <!-- START of main list item 2 -->
    <ion-item class='main-item'
    (click)="(teamSettings == true) ? teamSettings = false : teamSettings = true">
      Teams
      <ion-icon name="chevron-down-outline" slot='end' *ngIf="!teamSettings"></ion-icon>
      <ion-icon name="chevron-up-outline" slot='end' *ngIf="teamSettings"></ion-icon>
    </ion-item>
      <ion-reorder-group  class='sub-list' *ngIf="teamSettings" (ionItemReorder)="doReorder($event)" disabled=false>

        <ion-item class='reorder-item' *ngFor="let team of lService.teams; index as idx" [ngClass]="idx >= lService.league.numTeams ? 'hidden': ''">
          
            <ion-badge color="medium" slot='start'>{{idx+1}}</ion-badge>
            <ion-input (change)='updateTeamManager($event, idx)' value="{{team.manager}}"  placeholder="{{team.manager}}"></ion-input>
          
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-reorder-group>
    <!-- END of main list item 2 -->

    <!-- START of main list item 3 -->
    <ion-item class='main-item'
    (click)="(positionSettings == true) ? positionSettings = false : positionSettings = true">
      Roster Positions
      <ion-icon name="chevron-down-outline" slot='end' *ngIf="!positionSettings"></ion-icon>
      <ion-icon name="chevron-up-outline" slot='end' *ngIf="positionSettings"></ion-icon>
    </ion-item>
      <ion-list class='sub-list' *ngIf="positionSettings">
        <ion-item class='sub-item' *ngFor="let position of ['QB', 'RB', 'WR', 'TE', 'DEF', 'K', 'RWT', 'QRWT', 'B']">
          <ion-row style="width:100%">
            <ion-col size="9" style='display: flex; align-items: center; padding-left: 15px'>
              {{position}}
            </ion-col>
            <ion-col size="3">
              <ion-input type="number" inputmode="numeric" min="0" style="text-align: center" [name]="position" (ionChange)="updateRosterPositions($event)" value="{{lService.league.positions[position]}}" placeholder="{{lService.league.positions[position]}}"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    <!-- END of main list item 3 -->

  </ion-list>
  <!-- END of main settings list -->

  <!-- START of buttons on bottom of settings page -->
  <ion-buttons class='button-wrapper'>
    <!-- <ion-button *ngIf="!lService.league" color='wr' (click)="lService.createNewLeague()">
      New Draft
    </ion-button> -->
    <ion-button *ngIf="lService.league" color='danger' (click)="resetDraft()">
      Reset Draft
    </ion-button>
  </ion-buttons>
  
  <!-- <ion-buttons class='button-wrapper'>
    <ion-button (click)='lService.setLocalLeagueID()'>
      Store League ID
    </ion-button>
    <ion-button (click)='lService.setLocalTeamID()'>
      Store My Team ID
    </ion-button>
  </ion-buttons> -->
  <!-- END of buttons on bottom of settings page -->

  

</ion-content>