ion-header {
  ion-toolbar {
    --background: var(--ion-color-six);
    opacity: 0.975;
    position: absolute;
    top: 0px;
    height: 45px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    // padding-top: 20px;

    ion-row {
      ion-col {
        display: flex;
        align-items: center;
        // justify-content: center;
      }

      .right-side {
        justify-content: flex-end;

        ion-chip {
          font-size: 10px;
        }
      }

      .app-name {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        display: flex;
        justify-content: flex-start;
        padding-left: 16px;
      }
    }
  }
}

ion-content {
  .main-list {
    margin-top: 50px;

    .main-item {
      --background: #151919;
      border-bottom: 1px solid var(--ion-color-six);
    }

    .sub-list {
      .sub-item,
      .reorder-item {
        --background: #090a0a;
        border-bottom: 1px solid var(--ion-color-six);
      }
    }
  }

  .button-wrapper {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
  }
}
